<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main" th:fragment="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <div th:if="${story.id == 0}" th:insert="fragments/story/story-create.html :: story-form"></div>
            <div th:if="${story.id != 0}" th:insert="fragments/story/story-update.html :: story-form"></div>

            <div th:insert="fragments/story/story-list.html :: stories"></div>

        </div>
    </div>

</main>

</body>
</html>