<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="developer-form">

    <form action="#" th:action="@{/developers}" th:object="${developer}" th:method="post">
        <h3>Create Developer</h3>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Name"/>
            <span class="alert-sm alert-danger" th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name Error</span>
        </div>

        <input type="submit" class="btn btn-primary"/>
        <input type="reset" class="btn btn-secondary"/>
    </form>
</div>
</body>
</html>